# Auto detect text files and perform LF normalization
* text=auto
*.js linguist-detectable=true
*.py linguist-detectable=true
*.ipynb linguist-detectable=false
*.Rmd linguist-detectable=true
*.qmd linguist-detectable=true

